
dt {
	font-family:monospace;
	padding:5px;
}

dd {
	margin-bottom:1em;
}

dt.deprecated {
	text-decoration: line-through;
}

dt.deprecated:after{
	display: inline-block;
	content: '(Deprecated)';
	font-style: italic;
	padding-left: 10px;
	text-decoration: none;
}


.code {
	border:1px solid #ccc;
	background-color:#eee;
	padding:10px;
	margin:10px 50px;
	overflow:auto;
}

ol li {
	margin-bottom:1em;
}

.indented {
	margin-left: 2em;
}

.spaced-list li, .spaced-list dd {
	margin-bottom: 1em;
}

li.spaced-above {
	margin-top: 1em;
}