/*
$Id: userguide.css 15614 2012-07-09 17:17:10Z tene $
$URL: https://ghttrac.cr.usgs.gov/websvn/ProductDistribution/trunk/etc/documentation/userguide/userguide.css $
*/


dt {
	font-family:monospace;
	padding:5px;
}

dd {
	margin-bottom:1em;
}

dt.deprecated {
	text-decoration: line-through;
}


.code {
	border:1px solid #ccc;
	background-color:#eee;
	padding:10px;
	margin:10px 50px;
	overflow:auto;
}

ol li {
	margin-bottom:1em;
}

.indented {
	margin-left: 2em;
}

.spaced-list li, .spaced-list dd {
	margin-bottom: 1em;
}

li.spaced-above {
	margin-top: 1em;
}